.catalogItem {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px 52px;

  @media screen and (max-width: 768px) {
    padding: 24px 24px 52px;
  }
}

.itemDetails {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }

  &>* {
    flex: 1;
    flex-basis: 46%;
  }
}

.detailsContent {
  display: grid;

  &>* {
    grid-area: 1 / 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }

  .active {
    pointer-events: all;
    opacity: 1;
  }
}

.tabs {
  margin-top: 60px;
}