.formBook {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 44px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);

  @media screen and (max-width: 768px) {
    padding: 24px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .subtitle {
    margin-top: 8px;
    color: var(--gray);
    line-height: 24px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 14px;

    label {
      display: block;
    }

    input,
    textarea {
      width: 100%;
      padding: 18px;
    }
  }

  .error {
    height: 0px;
    color: var(--primary);
    font-size: 12px;
    opacity: 0;
    transition:
      height 0.2s ease,
      opacity 0.2s ease;

    &.errorVisible {
      height: 12px;
      opacity: 1;
    }
  }

  button[type='submit'] {
    align-self: center;
  }
}
