.favoritesIcon {
  cursor: pointer;
  transform: scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);

  &:hover {
    transform: scale(1.1);
  }

  &.favorited {
    color: var(--favorite);
    transform: scale(1);
  }
}
