.filters {
  width: 360px;

  @media screen and (max-width: 768px) {
    width: unset;
  }

  h3 {
    margin-top: 40px;
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 500;
  }

  section {
    margin-top: 32px;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
  }

  .searchButton {
    margin-top: 40px;

    @media screen and (max-width: 768px) {
      margin-top: 24px;
      position: relative;
      left: 50%;
      margin-left: -25%;
    }
  }
}
