.cardTruck {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  min-height: 368px;
  border: 1px solid var(--gray-light);
}

.cardTruckImage {
  flex-shrink: 0;
  width: 292px;
  object-fit: cover;
  border-radius: 10px;
  background-color: var(--card-bg);
}

.cardTruckInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardTruckInfoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
}

.cardTruckInfoDetails {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;

  .iconStar {
    color: var(--star);
  }

  .iconMap {
    margin-left: 12px;
  }
}

.cardTruckInfoDescription {
  /* max-width: 520px; */
  display: block;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  font-weight: 400;
  color: var(--text-secondary);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTruckInfoFeatures {
}

.cardTruckInfoButton {
  align-self: flex-start;
  margin-top: auto;
}
