@import './variables.css';

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
}

* {
  box-sizing: border-box;
}

svg {
  font-family: inherit;
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
}

button {
  font-family: inherit;
  background-color: transparent;
  outline: 1px solid transparent;
  outline-color: transparent;
  /* --transition-duration: 0.25s;
    --transition-timing-function: ease-in-out; */
  transition:
    background-color var(--transition-duration) var(--transition-timing-function),
    outline var(--transition-duration) var(--transition-timing-function);
}

button:hover {
  /* border-color: #646cff; */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.flex {
  flex: 1;
}

.delimiter {
  border-bottom: 1px solid var(--Gray-light, #dadde1);
  margin: 24px 0;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}

/* Components */

input,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  height: 60px;
  border-radius: 12px;
  background: var(--Inputs, #f7f7f7);
}

input::placeholder,
textarea::placeholder {
  color: var(--Gray, #6c717b);
}

* {
  /* outline: 1px solid red; */
}
