.cardTruckDetails {
}

.cardTruckInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardTruckInfoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.cardTruckInfoDetails {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;

  .iconStar {
    color: var(--star);
  }

  .rating {
    font-size: 16px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .iconMap {
    margin-left: 12px;
  }
}

.price {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.images {
  margin-top: 28px;
  display: flex;
  gap: 48px;
  overflow-x: auto;

  & > * {
    width: 292px;
    height: 312px;
    border-radius: 10px;
  }
}

.description {
  margin-top: 28px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: var(--text-secondary);
}

.features {
  margin-top: 28px;
}

.cardTruckInfoButton {
  align-self: flex-start;
  margin-top: auto;
}
