.header {
  top: 0px;
  position: sticky;
  z-index: 1;
  padding: 24px 64px;
  border-bottom: 1px solid var(--header-border);
  background: var(--header-bg);

  @media screen and (max-width: 768px) {
    padding: 12px 32px;
  }
}

.headerContent {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  nav {
    display: inline-block;
  }

  ul {
    display: flex;
    gap: 32px;
    font-weight: 500;

    .active {
      color: var(--primary);
    }
  }

  @media screen and (max-width: 768px) {
    nav {
      display: none;
    }
  }
}

.headerHome .headerContent {
  max-width: unset;
  margin: unset;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerNavItemHome {
}

.headerNavItemCatalog {
}
