.header {
  top: 0px;
  position: sticky;
  z-index: 1;
  padding: 24px 64px;
  border-bottom: 1px solid var(--Badges, #f2f4f7);
  background: var(--Inputs, #f7f7f7);
}

.headerContent {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  nav {
    display: inline-block;
  }

  ul {
    display: flex;
    gap: 32px;
    font-weight: 500;

    .active {
      color: var(--primary-color);
    }
  }
}

.headerHome .headerContent {
  max-width: unset;
  margin: unset;
}



.headerLogo {
  display: flex;
  align-items: center;
}

.headerNavItemHome {}

.headerNavItemCatalog {}