.chip {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 50px;
  color: var(--secondary);
  background: var(--badge-bg);
  font-weight: 500;
  text-transform: capitalize;
  mix-blend-mode: multiply;

  border: none;
  outline: none;

  /* @dark-theme */
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: plus-lighter;

    svg {
      color: var(--secondary);
    }
  }
}

.chip:hover {
}
