.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 64px;
  background-size: cover;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('/images/hero_1440.webp') lightgray 50% 0px / cover no-repeat;

  h1 {
    color: var(--hero-text);
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
  }

  p {
    margin-top: 16px;
    color: var(--hero-text);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  .button {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 40px;

    h1 {
      line-height: 50px;
    }
  }
}
